service: example-service
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs14.x
  ecr:
    # In this section you can define images that will be built locally and uploaded to ECR
    images:
      appimage:
        path: ./

functions:
  hello:
    image:
      name: appimage


plugins:
  - serverless-plugin-scripts
custom:
  scripts:
    hooks:
      'before:deploy:deploy': ./scripts/before_deploy.sh


    
