service: example-service
frameworkVersion: "3"

hooks:
  hook:before:offline:start: # This hook runs before creating deployment artifacts
    - npm install -g serverless-docker-plugin # Install the Docker plugin globally
    
provider:
  name: aws
  runtime: python3.9
  ecr:
    # In this section you can define images that will be built locally and uploaded to ECR
    images:
      appimage:
        path: ./

functions:
  hello:
    image:
      name: appimage


plugins:
  - serverless-docker-plugin
  
custom:
  docker:
    image: my-docker-image:latest
    
