service: example-service
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs14.x
  ecr:
    # In this section you can define images that will be built locally and uploaded to ECR
    images:
      appimage:
        path: ./

functions:
  hello:
    image:
      name: appimage


plugins:
  - serverless-docker-artifacts

custom:
  scripts:
    # Define a script to run before deployment
    beforeDeploy: ./scripts/before_deploy.sh

# Define a lifecycle hook to execute the script before deployment
lifecycle:
  # Execute the script before deployment
  - before:deploy:deploy
    command: ${self:custom.scripts.beforeDeploy}
    
